## description

- `TripType` : a categorical id representing the type of shopping trip the customer made. This is the ground truth that you are predicting. TripType_999 is an "other" category.

- `VisitNumber` : an id corresponding to a single trip by a single customer

- `Weekday` : the weekday of the trip

- `Upc` : the UPC number of the product purchased

- `ScanCount` : the number of the given item that was purchased. A negative value indicates a product return.

- `DepartmentDescription` : a high-level description of the item's department

- `FinelineNumber` : a more refined category for each of the products, created by Walmart

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [2]:
data = pd.read_csv('../data/train_v1.csv', index_col = 0)

In [3]:
data.head()

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber,standard_upc,company_code,product_code
0,999,5,Friday,-1,FINANCIAL SERVICES,1000.0,681131529297,681131,52929
1,30,7,Friday,1,SHOES,8931.0,605388159809,605388,15980
2,30,7,Friday,1,PERSONAL CARE,4504.0,074108110992,074108,11099
3,26,8,Friday,2,PAINT AND ACCESSORIES,3565.0,022384035102,022384,03510
4,26,8,Friday,2,PAINT AND ACCESSORIES,1017.0,020066137441,020066,13744

In [4]:
print("VIsitNumber_len", len(data['VisitNumber'].unique()))
print("ScanCount_len", len(data['ScanCount'].unique()))
print("DepartmentDescription_len", len(data['DepartmentDescription'].unique()))
print("FinelineNumber_len", len(data['FinelineNumber'].unique()))
print("standard_upc_len", len(data['standard_upc'].unique()))
print("company_code_len", len(data['company_code'].unique()))
print("product_code_len", len(data['product_code'].unique()))

VIsitNumber_len 95674
ScanCount_len 39
DepartmentDescription_len 69
FinelineNumber_len 5196
standard_upc_len 97715
company_code_len 5917
product_code_len 54285

In [5]:
def convert_weekday(weekday):
    if weekday == "Saturday" or weekday == "Sunday":
        return 1
    else:
        return 0
    
data['Weekday'] = data['Weekday'].apply(convert_weekday)

In [6]:
def convert_code(companycode):
    if companycode == "missing":
        return 999
    else:
        return int(companycode)
    
data['company_code'] = data['company_code'].apply(convert_code)
data['standard_upc'] = data['standard_upc'].apply(convert_code)
data['product_code'] = data['product_code'].apply(convert_code)

In [7]:
data['DepartmentDescription'] = data['DepartmentDescription'].fillna(value = 999)
data['FinelineNumber'] = data['FinelineNumber'].fillna(value = 999)

In [8]:
data.head()

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber,standard_upc,company_code,product_code
0,999,5,0,-1,FINANCIAL SERVICES,1000.0,681131529297,681131,52929
1,30,7,0,1,SHOES,8931.0,605388159809,605388,15980
2,30,7,0,1,PERSONAL CARE,4504.0,74108110992,74108,11099
3,26,8,0,2,PAINT AND ACCESSORIES,3565.0,22384035102,22384,3510
4,26,8,0,2,PAINT AND ACCESSORIES,1017.0,20066137441,20066,13744

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
data[data['FinelineNumber'].isin([999])]

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber,standard_upc,company_code,product_code
25,26,8,0,1,999,999.0,999,999,999
548,27,259,0,3,999,999.0,999,999,999
549,27,259,0,1,999,999.0,999,999,999
959,999,409,0,-1,999,999.0,999,999,999
1116,39,479,0,1,999,999.0,999,999,999
1134,999,484,0,-2,999,999.0,999,999,999
1135,999,484,0,-2,999,999.0,999,999,999
1155,44,496,0,1,PHARMACY RX,999.0,999,999,999
1216,5,521,0,1,PHARMACY RX,999.0,999,999,999
1373,5,585,0,1,PHARMACY RX,999.0,999,999,999
1455,5,619,0,1,PHARMACY RX,999.0,999,999,999
1456,5,619,0,1,PHARMACY RX,999.0,999,999,999
1457,5,619,0,1,PHARMACY RX,999.0,999,999,999
1819,5,787,0,1,PHARMACY RX,999.0,999,999,999
1926,32,845,0,1,999,999.0,999,999,999
1927,32,845,0,1,999,999.0,999,999,999
2031,5,897,0,1,PHARMACY RX,999.0,999,999,999
2032,5,897,0,1,PHARMACY RX,999.0,999,999,999
2294,40,1004,0,1,999,999.0,999,999,999
2399,5,1036,0,1,PHARMACY RX,999.0,999,999,999
2478,5,1064,0,1,PHARMACY RX,999.0,999,999,999
2566,5,1073,0,1,PHARMACY RX,999.0,999,999,999
2826,5,1170,0,1,PHARMACY RX,999.0,999,999,999
2850,40,1179,0,1,999,999.0,999,999,999
3096,44,1236,0,1,999,999.0,999,999,999
3369,9,1355,0,1,PHARMACY RX,999.0,999,999,999
3491,5,1392,0,1,PHARMACY RX,999.0,999,999,999
3524,5,1402,0,1,PHARMACY RX,999.0,999,999,999
3619,5,1425,0,1,PHARMACY RX,999.0,999,999,999
3729,5,1487,0,1,PHARMACY RX,999.0,999,999,999
...,...,...,...,...,...,...,...,...,...
636005,5,188661,1,1,PHARMACY RX,999.0,999,999,999
636090,44,188673,1,1,999,999.0,999,999,999
636372,8,188743,1,1,999,999.0,999,999,999
636444,999,188760,1,-1,999,999.0,999,999,999
636499,40,188775,1,1,999,999.0,999,999,999
636715,5,188839,1,1,PHARMACY RX,999.0,999,999,999
636716,5,188839,1,1,PHARMACY RX,999.0,999,999,999
636717,5,188839,1,1,PHARMACY RX,999.0,999,999,999
636847,5,188896,1,1,PHARMACY RX,999.0,999,999,999
636882,25,188898,1,4,999,999.0,999,999,999
636883,25,188898,1,2,999,999.0,999,999,999
636884,25,188898,1,-2,999,999.0,999,999,999
636885,25,188898,1,1,999,999.0,999,999,999
636886,25,188898,1,1,999,999.0,999,999,999
636918,40,188901,1,1,999,999.0,999,999,999
637067,40,188907,1,2,999,999.0,999,999,999
637068,40,188907,1,3,999,999.0,999,999,999
637069,40,188907,1,2,999,999.0,999,999,999
637198,5,188940,1,1,PHARMACY RX,999.0,999,999,999
639106,39,189509,1,1,999,999.0,999,999,999
640573,33,189818,1,1,999,999.0,999,999,999
642017,40,190133,1,1,999,999.0,999,999,999
642236,999,190182,1,-1,999,999.0,999,999,999
642499,40,190230,1,1,999,999.0,999,999,999
642784,39,190309,1,1,999,999.0,999,999,999
643137,41,190408,1,1,999,999.0,999,999,999
643991,44,190651,1,1,999,999.0,999,999,999
645990,44,191080,1,-1,999,999.0,999,999,999
645991,44,191080,1,1,999,999.0,999,999,999
645992,44,191080,1,1,999,999.0,999,999,999

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [12]:
y = list(data['TripType'].unique())
le.fit(y)
le.classes_

array([  3,   4,   5,   6,   7,   8,   9,  12,  14,  15,  18,  19,  20,
        21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,
        34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44, 999])

In [13]:
tmp = list(data['DepartmentDescription'].unique())
tmp_num = [i for i in range(69)]

In [14]:
def convert_description(description):
    tmp = ['FINANCIAL SERVICES',
 'SHOES',
 'PERSONAL CARE',
 'PAINT AND ACCESSORIES',
 'DSD GROCERY',
 'MEAT - FRESH & FROZEN',
 'DAIRY',
 'PETS AND SUPPLIES',
 'HOUSEHOLD CHEMICALS/SUPP',
 999,
 'IMPULSE MERCHANDISE',
 'PRODUCE',
 'CANDY, TOBACCO, COOKIES',
 'GROCERY DRY GOODS',
 'BOYS WEAR',
 'FABRICS AND CRAFTS',
 'JEWELRY AND SUNGLASSES',
 'MENS WEAR',
 'ACCESSORIES',
 'HOME MANAGEMENT',
 'FROZEN FOODS',
 'SERVICE DELI',
 'INFANT CONSUMABLE HARDLINES',
 'PRE PACKED DELI',
 'COOK AND DINE',
 'PHARMACY OTC',
 'LADIESWEAR',
 'COMM BREAD',
 'BAKERY',
 'HOUSEHOLD PAPER GOODS',
 'CELEBRATION',
 'HARDWARE',
 'BEAUTY',
 'AUTOMOTIVE',
 'BOOKS AND MAGAZINES',
 'SEAFOOD',
 'OFFICE SUPPLIES',
 'LAWN AND GARDEN',
 'SHEER HOSIERY',
 'WIRELESS',
 'BEDDING',
 'BATH AND SHOWER',
 'HORTICULTURE AND ACCESS',
 'HOME DECOR',
 'TOYS',
 'INFANT APPAREL',
 'LADIES SOCKS',
 'PLUS AND MATERNITY',
 'ELECTRONICS',
 'GIRLS WEAR, 4-6X  AND 7-14',
 'BRAS & SHAPEWEAR',
 'LIQUOR,WINE,BEER',
 'SLEEPWEAR/FOUNDATIONS',
 'CAMERAS AND SUPPLIES',
 'SPORTING GOODS',
 'PLAYERS AND ELECTRONICS',
 'PHARMACY RX',
 'MENSWEAR',
 'OPTICAL - FRAMES',
 'SWIMWEAR/OUTERWEAR',
 'OTHER DEPARTMENTS',
 'MEDIA AND GAMING',
 'FURNITURE',
 'OPTICAL - LENSES',
 'SEASONAL',
 'LARGE HOUSEHOLD GOODS',
 '1-HR PHOTO',
 'CONCEPT STORES',
 'HEALTH AND BEAUTY AIDS']
    
    return tmp.index(description)

data['DepartmentDescription'] = data['DepartmentDescription'].apply(convert_description)

In [15]:
print("VIsitNumber_len", len(data['VisitNumber'].unique()))
print("ScanCount_len", len(data['ScanCount'].unique()))
print("DepartmentDescription_len", len(data['DepartmentDescription'].unique()))
print("FinelineNumber_len", len(data['FinelineNumber'].unique()))
print("standard_upc_len", len(data['standard_upc'].unique()))
print("company_code_len", len(data['company_code'].unique()))
print("product_code_len", len(data['product_code'].unique()))

VIsitNumber_len 95674
ScanCount_len 39
DepartmentDescription_len 69
FinelineNumber_len 5196
standard_upc_len 97715
company_code_len 5917
product_code_len 54187

In [16]:
data['FinelineNumber'] = data['FinelineNumber'].astype(int)

In [85]:
data.head()

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber,company_code,product_code
0,999,5,0,-1,0,0,0,0
1,30,7,0,1,1,1,1,1
2,30,7,0,1,2,2,2,2
3,26,8,0,2,3,3,3,3
4,26,8,0,2,3,4,4,4

In [86]:
data[data['FinelineNumber'].isin([8931])]

Empty DataFrame
Columns: [TripType, VisitNumber, Weekday, ScanCount, DepartmentDescription, FinelineNumber, company_code, product_code]
Index: []

In [61]:
tmp = data.groupby('TripType')["DepartmentDescription"].apply(set)

In [77]:
for x,y in tmp.items():

In [78]:
tmp[3]&tmp[4]&tmp[5]&tmp[6]&tmp[7]&tmp[8]&tmp[9]&tmp[12]&tmp[14]&tmp[15]&tmp[18]&tmp[19]&tmp[20]&tmp[21]&tmp[22]&tmp[23]&tmp[24]&tmp[25]&tmp[26]&tmp[27]&tmp[28]&tmp[29]&tmp[30]&tmp[31]&tmp[32]&tmp[33]&tmp[34]&tmp[35]&tmp[36]&tmp[37]&tmp[38]&tmp[39]&tmp[40]&tmp[41]&tmp[42]&tmp[43]&tmp[44]&tmp[999]

{10, 29, 30, 36}

In [81]:
tmp_list[10], tmp_list[29],tmp_list[30],tmp_list[36]

('IMPULSE MERCHANDISE',
 'HOUSEHOLD PAPER GOODS',
 'CELEBRATION',
 'OFFICE SUPPLIES')

In [79]:
tmp_list = ['FINANCIAL SERVICES',
 'SHOES',
 'PERSONAL CARE',
 'PAINT AND ACCESSORIES',
 'DSD GROCERY',
 'MEAT - FRESH & FROZEN',
 'DAIRY',
 'PETS AND SUPPLIES',
 'HOUSEHOLD CHEMICALS/SUPP',
 999,
 'IMPULSE MERCHANDISE',
 'PRODUCE',
 'CANDY, TOBACCO, COOKIES',
 'GROCERY DRY GOODS',
 'BOYS WEAR',
 'FABRICS AND CRAFTS',
 'JEWELRY AND SUNGLASSES',
 'MENS WEAR',
 'ACCESSORIES',
 'HOME MANAGEMENT',
 'FROZEN FOODS',
 'SERVICE DELI',
 'INFANT CONSUMABLE HARDLINES',
 'PRE PACKED DELI',
 'COOK AND DINE',
 'PHARMACY OTC',
 'LADIESWEAR',
 'COMM BREAD',
 'BAKERY',
 'HOUSEHOLD PAPER GOODS',
 'CELEBRATION',
 'HARDWARE',
 'BEAUTY',
 'AUTOMOTIVE',
 'BOOKS AND MAGAZINES',
 'SEAFOOD',
 'OFFICE SUPPLIES',
 'LAWN AND GARDEN',
 'SHEER HOSIERY',
 'WIRELESS',
 'BEDDING',
 'BATH AND SHOWER',
 'HORTICULTURE AND ACCESS',
 'HOME DECOR',
 'TOYS',
 'INFANT APPAREL',
 'LADIES SOCKS',
 'PLUS AND MATERNITY',
 'ELECTRONICS',
 'GIRLS WEAR, 4-6X  AND 7-14',
 'BRAS & SHAPEWEAR',
 'LIQUOR,WINE,BEER',
 'SLEEPWEAR/FOUNDATIONS',
 'CAMERAS AND SUPPLIES',
 'SPORTING GOODS',
 'PLAYERS AND ELECTRONICS',
 'PHARMACY RX',
 'MENSWEAR',
 'OPTICAL - FRAMES',
 'SWIMWEAR/OUTERWEAR',
 'OTHER DEPARTMENTS',
 'MEDIA AND GAMING',
 'FURNITURE',
 'OPTICAL - LENSES',
 'SEASONAL',
 'LARGE HOUSEHOLD GOODS',
 '1-HR PHOTO',
 'CONCEPT STORES',
 'HEALTH AND BEAUTY AIDS']

In [70]:
tmp[3].intersection(tmp[4:])

TypeError: unhashable type: 'set'

In [57]:
data.sort_values(by = ["VisitNumber"], ascending=True)

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber,company_code,product_code
0,999,5,0,-1,0,0,0,0
1,30,7,0,1,1,1,1,1
2,30,7,0,1,2,2,2,2
25,26,8,0,1,9,19,17,22
24,26,8,0,3,7,18,16,21
23,26,8,0,1,3,17,15,20
22,26,8,0,1,3,17,15,19
21,26,8,0,1,8,16,14,18
20,26,8,0,2,3,15,11,17
18,26,8,0,2,6,13,12,12
17,26,8,0,1,3,12,11,15
16,26,8,0,1,3,11,10,14
15,26,8,0,2,3,3,3,9
14,26,8,0,-1,3,8,7,11
19,26,8,0,1,7,14,13,16
12,26,8,0,1,5,9,8,12
11,26,8,0,2,3,8,7,11
10,26,8,0,1,4,7,6,10
9,26,8,0,-1,3,3,3,9
8,26,8,0,1,3,6,3,8
7,26,8,0,1,3,5,5,7
6,26,8,0,1,3,4,4,6
5,26,8,0,2,3,4,4,5
4,26,8,0,2,3,4,4,4
3,26,8,0,2,3,3,3,3
13,26,8,0,1,3,10,9,13
28,8,9,0,1,11,22,20,25
26,8,9,0,1,10,20,18,23
27,8,9,0,1,11,21,19,24
29,8,10,0,1,4,23,21,26
...,...,...,...,...,...,...,...,...
647031,39,191345,1,1,32,682,1454,5877
647030,39,191345,1,2,27,166,135,7392
647029,39,191345,1,1,48,2995,1673,41006
647028,39,191345,1,1,4,2029,25,3021
647033,39,191345,1,1,8,1521,3863,1563
647026,39,191345,1,1,13,1104,152,16576
647025,39,191345,1,1,13,1104,152,17154
647024,39,191345,1,2,25,1902,1449,28251
647023,39,191345,1,2,4,1164,192,5644
647022,39,191345,1,1,29,399,29,881
647027,39,191345,1,1,27,163,115,195
647051,39,191346,1,1,11,860,20,1311
647050,39,191346,1,1,20,152,14,9357
647049,39,191346,1,1,25,268,1401,4994
647048,39,191346,1,1,8,2028,29,12652
647047,39,191346,1,1,4,189,147,6548
647046,39,191346,1,1,4,189,147,21310
647045,39,191346,1,1,6,414,14,4611
647044,39,191346,1,1,13,2005,169,49767
647041,39,191346,1,1,13,2383,2351,1506
647042,39,191346,1,1,5,1031,456,4554
647040,39,191346,1,1,8,531,29,9212
647039,39,191346,1,1,4,1974,14,4555
647038,39,191346,1,1,13,316,416,5274
647037,39,191346,1,1,13,610,634,4153
647036,39,191346,1,1,11,739,119,1081
647035,39,191346,1,1,13,322,801,21559
647043,39,191346,1,1,25,221,1631,4173
647052,8,191347,1,1,6,2269,1074,1051
647053,8,191347,1,1,13,80,69,197

In [18]:
global tmp
tmp = list(data['company_code'].unique())
def convert_comcode(companycode):
    global tmp
    return tmp.index(companycode)

data['company_code'] = data['company_code'].apply(convert_comcode)

In [23]:
global tmp
tmp = list(data['product_code'].unique())
def convert_comcode(productcode):
    global tmp
    return tmp.index(productcode)

data['product_code'] = data['product_code'].apply(convert_comcode)

In [25]:
global tmp
tmp = list(data['FinelineNumber'].unique())
def convert_comcode(finelinenumber):
    global tmp
    return tmp.index(finelinenumber)

data['FinelineNumber'] = data['FinelineNumber'].apply(convert_comcode)

In [26]:
data.head()

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber,standard_upc,company_code,product_code
0,999,5,0,-1,0,0,681131529297,0,0
1,30,7,0,1,1,1,605388159809,1,1
2,30,7,0,1,2,2,74108110992,2,2
3,26,8,0,2,3,3,22384035102,3,3
4,26,8,0,2,3,4,20066137441,4,4

In [31]:
data = data.drop(columns = ['standard_upc'])

In [32]:
data.head()

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber,company_code,product_code
0,999,5,0,-1,0,0,0,0
1,30,7,0,1,1,1,1,1
2,30,7,0,1,2,2,2,2
3,26,8,0,2,3,3,3,3
4,26,8,0,2,3,4,4,4

In [55]:
data.shape

(647054, 8)

In [54]:
len(data['product_code'].unique())

54187

In [33]:
data.to_csv('../data/train_v2.csv', sep = ',')

In [34]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [46]:
data['Weekday'] = data['Weekday'].astype("category")
data['DepartmentDescription'] = data['DepartmentDescription'].astype("category")
data['FinelineNumber'] = data['FinelineNumber'].astype("category")
data['company_code'] = data['company_code'].astype("category")
data['product_code'] = data['product_code'].astype("category")

In [47]:
tmp_X = data.drop(columns = ['TripType', 'VisitNumber', 'ScanCount'])

In [53]:
ohe.transform(tmp_X).toarray().shape

(647054, 65371)

In [ ]:
tmp = list(data['product_code'].unique())

def convert_comcode(productcode):
    return tmp.index(prouctcode)

data['product_code'] = data['product_code'].apply(convert_comcode)

In [ ]:
ggplot(data = data) +
geom_histogram(mapping = aes( x = ))

In [7]:
tmp_list = list(data['FinelineNumber'].unique())

In [8]:
tmp_list.sort()

In [9]:
tmp_list

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 7.0,
 10.0,
 12.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 27.0,
 28.0,
 30.0,
 31.0,
 33.0,
 34.0,
 35.0,
 37.0,
 38.0,
 42.0,
 43.0,
 44.0,
 46.0,
 47.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 63.0,
 65.0,
 66.0,
 68.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 77.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 89.0,
 90.0,
 91.0,
 94.0,
 96.0,
 101.0,
 103.0,
 104.0,
 105.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 121.0,
 123.0,
 125.0,
 127.0,
 128.0,
 130.0,
 132.0,
 134.0,
 135.0,
 138.0,
 139.0,
 140.0,
 142.0,
 143.0,
 145.0,
 149.0,
 150.0,
 151.0,
 153.0,
 155.0,
 157.0,
 160.0,
 164.0,
 165.0,
 166.0,
 167.0,
 170.0,
 172.0,
 175.0,
 177.0,
 179.0,
 185.0,
 188.0,
 192.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 219.0,
 220.0,
 224.0,
 225.0,
 226.0,
 227.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 239.0,
 240.0,
 241.0,
 242.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 260.0,
 262.0,
 264.0,
 265.0,
 267.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 279.0,
 280.0,
 281.0,
 282.0,
 283.0,
 284.0,
 286.0,
 287.0,
 289.0,
 290.0,
 295.0,
 301.0,
 302.0,
 304.0,
 306.0,
 307.0,
 308.0,
 310.0,
 311.0,
 314.0,
 317.0,
 318.0,
 319.0,
 320.0,
 323.0,
 324.0,
 327.0,
 336.0,
 337.0,
 338.0,
 339.0,
 340.0,
 342.0,
 344.0,
 345.0,
 347.0,
 350.0,
 352.0,
 353.0,
 360.0,
 364.0,
 368.0,
 369.0,
 370.0,
 371.0,
 377.0,
 378.0,
 380.0,
 381.0,
 385.0,
 387.0,
 388.0,
 390.0,
 393.0,
 394.0,
 398.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 409.0,
 411.0,
 413.0,
 414.0,
 415.0,
 417.0,
 420.0,
 421.0,
 422.0,
 424.0,
 425.0,
 426.0,
 435.0,
 436.0,
 438.0,
 443.0,
 445.0,
 447.0,
 459.0,
 460.0,
 466.0,
 470.0,
 486.0,
 496.0,
 498.0,
 500.0,
 501.0,
 503.0,
 504.0,
 505.0,
 506.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 514.0,
 516.0,
 517.0,
 518.0,
 519.0,
 520.0,
 521.0,
 522.0,
 525.0,
 526.0,
 527.0,
 528.0,
 529.0,
 530.0,
 534.0,
 538.0,
 541.0,
 543.0,
 545.0,
 549.0,
 552.0,
 554.0,
 555.0,
 557.0,
 561.0,
 565.0,
 570.0,
 577.0,
 581.0,
 585.0,
 590.0,
 596.0,
 597.0,
 599.0,
 600.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 608.0,
 609.0,
 610.0,
 614.0,
 617.0,
 619.0,
 620.0,
 623.0,
 625.0,
 630.0,
 634.0,
 635.0,
 636.0,
 639.0,
 648.0,
 654.0,
 660.0,
 663.0,
 673.0,
 675.0,
 700.0,
 701.0,
 702.0,
 704.0,
 705.0,
 706.0,
 707.0,
 709.0,
 710.0,
 713.0,
 714.0,
 715.0,
 717.0,
 718.0,
 720.0,
 722.0,
 723.0,
 729.0,
 730.0,
 731.0,
 732.0,
 734.0,
 735.0,
 736.0,
 737.0,
 738.0,
 740.0,
 744.0,
 750.0,
 752.0,
 753.0,
 754.0,
 766.0,
 768.0,
 770.0,
 771.0,
 787.0,
 800.0,
 802.0,
 803.0,
 804.0,
 805.0,
 806.0,
 807.0,
 808.0,
 810.0,
 814.0,
 815.0,
 816.0,
 817.0,
 820.0,
 821.0,
 823.0,
 824.0,
 845.0,
 848.0,
 856.0,
 865.0,
 900.0,
 901.0,
 903.0,
 904.0,
 905.0,
 906.0,
 907.0,
 908.0,
 910.0,
 913.0,
 914.0,
 915.0,
 916.0,
 918.0,
 919.0,
 920.0,
 933.0,
 944.0,
 951.0,
 958.0,
 965.0,
 975.0,
 988.0,
 995.0,
 998.0,
 1000.0,
 1001.0,
 1002.0,
 1003.0,
 1004.0,
 1005.0,
 1006.0,
 1007.0,
 1008.0,
 1010.0,
 1011.0,
 1012.0,
 1014.0,
 1015.0,
 1016.0,
 1017.0,
 1018.0,
 1019.0,
 1021.0,
 1022.0,
 1025.0,
 1026.0,
 1027.0,
 1028.0,
 1030.0,
 1031.0,
 1033.0,
 1034.0,
 1035.0,
 1039.0,
 1041.0,
 1046.0,
 1052.0,
 1053.0,
 1056.0,
 1057.0,
 1058.0,
 1059.0,
 1060.0,
 1062.0,
 1063.0,
 1065.0,
 1077.0,
 1078.0,
 1080.0,
 1085.0,
 1086.0,
 1100.0,
 1101.0,
 1102.0,
 1103.0,
 1105.0,
 1106.0,
 1107.0,
 1108.0,
 1111.0,
 1112.0,
 1113.0,
 1116.0,
 1117.0,
 1122.0,
 1134.0,
 1135.0,
 1153.0,
 1156.0,
 1157.0,
 1161.0,
 1162.0,
 1164.0,
 1165.0,
 1169.0,
 1172.0,
 1198.0,
 1200.0,
 1201.0,
 1202.0,
 1203.0,
 1204.0,
 1205.0,
 1206.0,
 1208.0,
 1209.0,
 1210.0,
 1211.0,
 1212.0,
 1213.0,
 1214.0,
 1215.0,
 1217.0,
 1218.0,
 1219.0,
 1221.0,
 1222.0,
 1224.0,
 1227.0,
 1228.0,
 1230.0,
 1231.0,
 1236.0,
 1240.0,
 1242.0,
 1248.0,
 1249.0,
 1250.0,
 1252.0,
 1253.0,
 1254.0,
 1260.0,
 1262.0,
 1264.0,
 1265.0,
 1267.0,
 1270.0,
 1272.0,
 1277.0,
 1279.0,
 1285.0,
 1288.0,
 1290.0,
 1295.0,
 1298.0,
 1300.0,
 1302.0,
 1303.0,
 1305.0,
 1306.0,
 1307.0,
 1311.0,
 1313.0,
 1316.0,
 1318.0,
 1333.0,
 1335.0,
 1337.0,
 1340.0,
 1341.0,
 1343.0,
 1344.0,
 1345.0,
 1350.0,
 1351.0,
 1353.0,
 1354.0,
 1355.0,
 1356.0,
 1357.0,
 1358.0,
 1359.0,
 1360.0,
 1390.0,
 1393.0,
 1396.0,
 1400.0,
 1402.0,
 1404.0,
 1406.0,
 1408.0,
 1410.0,
 1411.0,
 1412.0,
 1413.0,
 1414.0,
 1415.0,
 1417.0,
 1419.0,
 1420.0,
 1421.0,
 1426.0,
 1428.0,
 1430.0,
 1433.0,
 1436.0,
 1439.0,
 1440.0,
 1442.0,
 1443.0,
 1453.0,
 1458.0,
 1465.0,
 1470.0,
 1475.0,
 1500.0,
 1501.0,
 1503.0,
 1504.0,
 1506.0,
 1507.0,
 1510.0,
 1511.0,
 1512.0,
 1513.0,
 1514.0,
 1516.0,
 1520.0,
 1524.0,
 1525.0,
 1531.0,
 1533.0,
 1541.0,
 1542.0,
 1543.0,
 1545.0,
 1546.0,
 1551.0,
 1552.0,
 1553.0,
 1555.0,
 1556.0,
 1559.0,
 1560.0,
 1563.0,
 1565.0,
 1582.0,
 1590.0,
 1600.0,
 1601.0,
 1604.0,
 1605.0,
 1610.0,
 1614.0,
 1619.0,
 1620.0,
 1621.0,
 1626.0,
 1628.0,
 1632.0,
 1634.0,
 1635.0,
 1650.0,
 1653.0,
 1654.0,
 1657.0,
 1701.0,
 1702.0,
 1704.0,
 1705.0,
 1707.0,
 1708.0,
 1720.0,
 1721.0,
 1724.0,
 1727.0,
 1728.0,
 1740.0,
 1745.0,
 1748.0,
 1750.0,
 1751.0,
 1752.0,
 1753.0,
 1754.0,
 1755.0,
 1760.0,
 1779.0,
 1790.0,
 1800.0,
 1801.0,
 1803.0,
 1804.0,
 1805.0,
 1806.0,
 1809.0,
 1810.0,
 1813.0,
 1820.0,
 1821.0,
 1831.0,
 1835.0,
 1851.0,
 1853.0,
 1854.0,
 1855.0,
 1900.0,
 1901.0,
 1902.0,
 1903.0,
 1904.0,
 1905.0,
 1906.0,
 1907.0,
 1908.0,
 1909.0,
 1910.0,
 1911.0,
 1913.0,
 1917.0,
 1919.0,
 1938.0,
 1943.0,
 1946.0,
 1951.0,
 1952.0,
 1953.0,
 1955.0,
 1995.0,
 1997.0,
 1998.0,
 2000.0,
 2001.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2019.0,
 2020.0,
 2021.0,
 2024.0,
 2025.0,
 2028.0,
 2032.0,
 2034.0,
 2035.0,
 2036.0,
 2040.0,
 2042.0,
 2043.0,
 2045.0,
 2046.0,
 2049.0,
 2050.0,
 2051.0,
 2053.0,
 2055.0,
 2059.0,
 2060.0,
 2061.0,
 2062.0,
 2064.0,
 2065.0,
 2067.0,
 2069.0,
 2070.0,
 2071.0,
 2075.0,
 2076.0,
 2078.0,
 2080.0,
 2081.0,
 2090.0,
 2095.0,
 2098.0,
 2100.0,
 2101.0,
 2102.0,
 2104.0,
 2105.0,
 2106.0,
 2109.0,
 2110.0,
 2111.0,
 2112.0,
 2113.0,
 2116.0,
 2121.0,
 2123.0,
 2130.0,
 2131.0,
 2140.0,
 2150.0,
 2151.0,
 2153.0,
 2154.0,
 2156.0,
 2157.0,
 2161.0,
 2195.0,
 2199.0,
 2200.0,
 2201.0,
 2202.0,
 2203.0,
 2204.0,
 2205.0,
 2206.0,
 2207.0,
 2210.0,
 2215.0,
 2219.0,
 2223.0,
 2224.0,
 2227.0,
 2228.0,
 2230.0,
 2232.0,
 2235.0,
 2248.0,
 2250.0,
 2251.0,
 2252.0,
 2253.0,
 2254.0,
 2255.0,
 2257.0,
 2260.0,
 2261.0,
 2267.0,
 2285.0,
 2286.0,
 2300.0,
 2301.0,
 2302.0,
 2306.0,
 2308.0,
 2309.0,
 2310.0,
 2313.0,
 2315.0,
 2320.0,
 2323.0,
 2325.0,
 2330.0,
 2335.0,
 2339.0,
 2340.0,
 2347.0,
 2350.0,
 2353.0,
 2360.0,
 2362.0,
 2365.0,
 2380.0,
 2400.0,
 2401.0,
 2402.0,
 2403.0,
 2404.0,
 2405.0,
 2408.0,
 2409.0,
 2410.0,
 2417.0,
 2436.0,
 2438.0,
 2450.0,
 2451.0,
 2452.0,
 2453.0,
 2454.0,
 2455.0,
 2456.0,
 2457.0,
 2465.0,
 2500.0,
 2501.0,
 2502.0,
 2504.0,
 2505.0,
 2510.0,
 2512.0,
 2514.0,
 2517.0,
 2518.0,
 2519.0,
 2521.0,
 2524.0,
 2525.0,
 2527.0,
 2531.0,
 2532.0,
 2537.0,
 2539.0,
 2540.0,
 2550.0,
 2551.0,
 2552.0,
 2554.0,
 2555.0,
 2557.0,
 2562.0,
 2564.0,
 2565.0,
 2570.0,
 2571.0,
 2575.0,
 2586.0,
 2587.0,
 2588.0,
 2596.0,
 2597.0,
 2600.0,
 2602.0,
 2603.0,
 2604.0,
 2605.0,
 2606.0,
 2607.0,
 2611.0,
 2618.0,
 2622.0,
 2624.0,
 2631.0,
 2639.0,
 2642.0,
 2651.0,
 2652.0,
 2654.0,
 2655.0,
 2659.0,
 2665.0,
 2666.0,
 2700.0,
 2703.0,
 2704.0,
 2705.0,
 2706.0,
 2707.0,
 2708.0,
 2710.0,
 2712.0,
 2715.0,
 2725.0,
 2730.0,
 2732.0,
 2751.0,
 2752.0,
 2754.0,
 2755.0,
 2756.0,
 2758.0,
 2759.0,
 2762.0,
 2763.0,
 2764.0,
 2765.0,
 2780.0,
 2785.0,
 2797.0,
 2799.0,
 2800.0,
 2801.0,
 2802.0,
 2803.0,
 2804.0,
 2805.0,
 2806.0,
 2807.0,
 2809.0,
 2810.0,
 2812.0,
 2813.0,
 2815.0,
 2816.0,
 2817.0,
 2820.0,
 2821.0,
 2822.0,
 2827.0,
 2829.0,
 2831.0,
 2835.0,
 2836.0,
 2837.0,
 2839.0,
 2840.0,
 2900.0,
 2901.0,
 2902.0,
 2903.0,
 2906.0,
 2907.0,
 2909.0,
 2912.0,
 2913.0,
 2919.0,
 2920.0,
 2921.0,
 2922.0,
 2940.0,
 2951.0,
 2952.0,
 2953.0,
 2955.0,
 2956.0,
 2959.0,
 2992.0,
 2995.0,
 2996.0,
 2997.0,
 2998.0,
 3000.0,
 3002.0,
 3003.0,
 3006.0,
 ...]

In [10]:
data['DepartmentDescription'].unique()[2]

'PERSONAL CARE'

In [11]:
tmp_1 = data[data['FinelineNumber'] <= 1000]

In [12]:
data['DepartmentDescription']

0               FINANCIAL SERVICES
1                            SHOES
2                    PERSONAL CARE
3            PAINT AND ACCESSORIES
4            PAINT AND ACCESSORIES
5            PAINT AND ACCESSORIES
6            PAINT AND ACCESSORIES
7            PAINT AND ACCESSORIES
8            PAINT AND ACCESSORIES
9            PAINT AND ACCESSORIES
10                     DSD GROCERY
11           PAINT AND ACCESSORIES
12           MEAT - FRESH & FROZEN
13           PAINT AND ACCESSORIES
14           PAINT AND ACCESSORIES
15           PAINT AND ACCESSORIES
16           PAINT AND ACCESSORIES
17           PAINT AND ACCESSORIES
18                           DAIRY
19               PETS AND SUPPLIES
20           PAINT AND ACCESSORIES
21        HOUSEHOLD CHEMICALS/SUPP
22           PAINT AND ACCESSORIES
23           PAINT AND ACCESSORIES
24               PETS AND SUPPLIES
25                             NaN
26             IMPULSE MERCHANDISE
27                         PRODUCE
28                         PRODUCE
29                     DSD GROCERY
                    ...
647024                PHARMACY OTC
647025           GROCERY DRY GOODS
647026           GROCERY DRY GOODS
647027                  COMM BREAD
647028                 DSD GROCERY
647029                 ELECTRONICS
647030                  COMM BREAD
647031                      BEAUTY
647032                 DSD GROCERY
647033    HOUSEHOLD CHEMICALS/SUPP
647034       HOUSEHOLD PAPER GOODS
647035           GROCERY DRY GOODS
647036                     PRODUCE
647037           GROCERY DRY GOODS
647038           GROCERY DRY GOODS
647039                 DSD GROCERY
647040    HOUSEHOLD CHEMICALS/SUPP
647041           GROCERY DRY GOODS
647042       MEAT - FRESH & FROZEN
647043                PHARMACY OTC
647044           GROCERY DRY GOODS
647045                       DAIRY
647046                 DSD GROCERY
647047                 DSD GROCERY
647048    HOUSEHOLD CHEMICALS/SUPP
647049                PHARMACY OTC
647050                FROZEN FOODS
647051                     PRODUCE
647052                       DAIRY
647053           GROCERY DRY GOODS
Name: DepartmentDescription, Length: 647054, dtype: object

In [13]:
Description_count = data.groupby(['DepartmentDescription']).size().reset_index(name = 'count')

In [14]:
Description_count.sort_values(by = 'count', ascending=False)[:10]

       DepartmentDescription  count
24         GROCERY DRY GOODS  70402
17               DSD GROCERY  68332
57                   PRODUCE  51115
16                     DAIRY  43820
50             PERSONAL CARE  41969
32       IMPULSE MERCHANDISE  28712
30  HOUSEHOLD CHEMICALS/SUPP  24880
52              PHARMACY OTC  23306
21              FROZEN FOODS  21101
31     HOUSEHOLD PAPER GOODS  16274

In [15]:
FinelineNumber = data.groupby(['FinelineNumber']).size().reset_index(name = 'count')

In [16]:
FinelineNumber.sort_values(by = 'count', ascending=False)[:10]

      FinelineNumber  count
3368          5501.0   8244
1089          1508.0   5121
130            135.0   4538
653            808.0   4401
0                0.0   3837
5091          9546.0   2997
1031          1407.0   2848
2905          4606.0   2753
110            115.0   2723
186            203.0   2639

In [17]:
Companycode = data.groupby(['company_code']).size().reset_index(name = 'count')
Companycode.sort_values(by = 'count', ascending=False)[:10]

     company_code  count
2195       078742  48001
3868       681131  23357
3489           40  21115
3549       605388  16218
827        037000  14031
1313       049000  11890
585        028400  10915
743        033383   6829
788        035000   6229
761        034000   5952